<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.crawler.mysql.mapper.WebPageDetailMapper" >
  <resultMap id="BaseResultMap" type="org.crawler.mysql.model.WebPageDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="domain" property="domain" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="src" property="src" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="html" property="html" jdbcType="VARCHAR" />
    <result column="view_num" property="viewNum" jdbcType="INTEGER" />
    <result column="comment_num" property="commentNum" jdbcType="INTEGER" />
    <result column="crawl_time" property="crawlTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, url, domain, title, src, create_time, author, keyword, content, html, view_num, 
    comment_num, crawl_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from web_page_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from web_page_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.crawler.mysql.model.WebPageDetail" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into web_page_detail (url, domain, title, 
      src, create_time, author, 
      keyword, content, html, 
      view_num, comment_num, crawl_time, 
      update_time)
    values (#{url,jdbcType=VARCHAR}, #{domain,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{src,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{author,jdbcType=VARCHAR}, 
      #{keyword,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{html,jdbcType=VARCHAR}, 
      #{viewNum,jdbcType=INTEGER}, #{commentNum,jdbcType=INTEGER}, #{crawlTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.crawler.mysql.model.WebPageDetail" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into web_page_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="url != null" >
        url,
      </if>
      <if test="domain != null" >
        domain,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="src != null" >
        src,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="html != null" >
        html,
      </if>
      <if test="viewNum != null" >
        view_num,
      </if>
      <if test="commentNum != null" >
        comment_num,
      </if>
      <if test="crawlTime != null" >
        crawl_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="domain != null" >
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="src != null" >
        #{src,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="html != null" >
        #{html,jdbcType=VARCHAR},
      </if>
      <if test="viewNum != null" >
        #{viewNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null" >
        #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="crawlTime != null" >
        #{crawlTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.crawler.mysql.model.WebPageDetail" >
    update web_page_detail
    <set >
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="domain != null" >
        domain = #{domain,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="src != null" >
        src = #{src,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="html != null" >
        html = #{html,jdbcType=VARCHAR},
      </if>
      <if test="viewNum != null" >
        view_num = #{viewNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null" >
        comment_num = #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="crawlTime != null" >
        crawl_time = #{crawlTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.crawler.mysql.model.WebPageDetail" >
    update web_page_detail
    set url = #{url,jdbcType=VARCHAR},
      domain = #{domain,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      src = #{src,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      author = #{author,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      html = #{html,jdbcType=VARCHAR},
      view_num = #{viewNum,jdbcType=INTEGER},
      comment_num = #{commentNum,jdbcType=INTEGER},
      crawl_time = #{crawlTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>